[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "roben"]
	path = roben
	url = https://github.com/jrhub/roben
	shallow = true
	registered = true
[submodule "regnet"]
	path = regnet
	url = https://github.com/jrhub/regnet
	shallow = true
	registered = true
[submodule "spinBayes"]
	path = spinBayes
	url = https://github.com/jrhub/spinbayes
	shallow = true
	registered = true
